.stack {
    border-color: green;
    border-width: 5;
    padding: 10;
    height: 300;
    margin: 0;
    align-items: flex-start;
}

Label {
    border-width: 10;
    border-color: blue;
    text-align: center;
    width: 100;
}
