.map {
    height: 200;
    border-color: blue;
    border-width: 5;
}

.locations-type {
    justify-content: space-between;
    margin: 5 10;
}

.location-type-images {
    width: 60;
}

.location-type-images + Label {
    text-align: center;
}

.locations-title {
    font-weight: bold;
    font-size: 15;
    margin: 5 10;
}

.location-type-clicked {
    border-color: #35499F;
    border-width: 2;
    border-radius: 10;
}
