<StackLayout class="login-screen">
    <FlexboxLayout class="white-div">
        <FlexboxLayout class="first-part">
            <Label class="login-title" text="Faça login"></Label>
            <Label class="login-subtitle" text="Entre em sua conta para aproveitar seus pontos!"></Label>
            <StackLayout class="nt-form">
                <StackLayout class="nt-input">
                    <TextField class="-border text-left text-input" [(ngModel)]="email" hint="Insira seu email"
                               keyboardType="email" autocorrect="false" autocapitalizationType="none"></TextField>
                </StackLayout>

                <StackLayout class="nt-input">
                    <TextField class="-border text-left text-input" [(ngModel)]="password" hint="Senha" secure="true"
                               keyboardType="email" autocorrect="false" autocapitalizationType="none"></TextField>
                </StackLayout>

                <Button text="Login" class="btn btn-primary" [isEnabled]="!sending" (tap)="submitUserInfo()"></Button>
            </StackLayout>
        </FlexboxLayout>
        <FlexboxLayout class="not-account">
            <Label class="still-not" text="Ainda não tem uma conta?  "></Label>
            <Label class="sign-in" text="Cadastre-se" (tap)="navigateToSignUp()"></Label>
        </FlexboxLayout>
    </FlexboxLayout>
    <Label class="without-account" (tap)="navigateToSurrounding()" text="Começar sem uma conta"></Label>
</StackLayout>
