.login-screen {
  background: linear-gradient(90deg, #0669C0 0%, #12278C 100%);
}

.white-div {
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  background-color: white;
  margin-top: 15%;
  height: 70%;
  width: 85%;
  border-radius: 4;
  padding: 20;
}

.login-title {
  font-family: Rubik;
  font-style: normal;
  font-weight: bold;
  font-size: 20;
  color: #41444F;
}

.login-subtitle {
  margin-top: 10;
  font-size: 14;
  color: #41444F;
}

.nt-form {
  .nt-input {
    margin: 0;
    padding: 0;
  }

  .text-input {
    font-size: 12;
    placeholder-color: #BFBFBF;
    border-radius: 4;
    margin: 0;
  }

}
