<StackLayout *ngIf="!emailSent">
	<Label text="Esqueceu a senha?"></Label>
	<Label text="Não se preocupe. Vamos te ajudar a recuperá-la."></Label>
	<TextField [(ngModel)]="email" hint="Insira seu email"></TextField>
	<Label text="Esqueceu sua senha?"></Label>
	<Button (tap)="sendPasswordRecoveryEmail()"
			text="Recuperar a senha">
	</Button>
	<Label text="Ainda não tem uma conta?"></Label>
	<Label text="Cadastre-se"></Label>
</StackLayout>

<StackLayout *ngIf="emailSent">
	<Label text="Pronto!"></Label>
	<Label text="Acesse o link que enviamos para o seu email e siga os passos para criar uma nova senha."></Label>
	<Button (tap)="navigateToLogin()"
			text="Fazer login">
	</Button>
</StackLayout>
