<StackLayout class="login-screen">
	<FlexboxLayout class="white-div">
		<FlexboxLayout class="first-part">
			<Label class="login-title" text="Faça um cadastro"></Label>
			<Label class="login-subtitle" text="Crie uma conta, junte pontos e troque por benefícios!"></Label>
			<StackLayout class="nt-form">
				<StackLayout class="nt-input">
					<TextField class="-border text-left text-input" [(ngModel)]="name" hint="Qual o seu nome?"
							   autocorrect="false"></TextField>
				</StackLayout>

				<StackLayout class="nt-input">
					<TextField class="-border text-left text-input" [(ngModel)]="phoneNumber" hint="Seu número de celular"
							   keyboardType="email" autocorrect="false" autocapitalizationType="none"></TextField>
				</StackLayout>

				<StackLayout class="nt-input">
					<TextField class="-border text-left text-input" [(ngModel)]="email" hint="Insira seu email"
							   keyboardType="email" autocorrect="false" autocapitalizationType="none"></TextField>
				</StackLayout>

				<StackLayout class="nt-input">
					<TextField class="-border text-left text-input" [(ngModel)]="password" hint="Crie uma senha" secure="true"
							   keyboardType="email" autocorrect="false" autocapitalizationType="none"></TextField>
				</StackLayout>

				<StackLayout class="nt-input">
					<TextField class="-border text-left text-input" [(ngModel)]="confirmPassword" hint="Confirme sua senha" secure="true"
							   keyboardType="email" autocorrect="false" autocapitalizationType="none"></TextField>
				</StackLayout>

				<Button text="Cadastre-se" class="btn btn-primary" [isEnabled]="!sending" (tap)="submitUserInfo()"></Button>
			</StackLayout>
		</FlexboxLayout>
		<FlexboxLayout class="not-account">
			<Label class="still-not" text="Já tem uma conta?  "></Label>
			<Label class="sign-in" text="Faça login" (tap)="navigateToLogin()"></Label>
		</FlexboxLayout>
	</FlexboxLayout>
</StackLayout>
