<StackLayout>
	<ListView [items]="destinationsList" separatorColor="transparent">
		<ng-template let-destination="item">
			<StackLayout>
				<GridLayout rows="auto,auto" columns="250,auto" class="destination-item">
					<Label row="0" col="0" textWrap="true">
						<FormattedString>
							<Span [text]="destination.to_name" fontSize="14" fontWeight="Bold" color="#41444F"></Span>
						</FormattedString>
					</Label>
					<Label row="1" col="0" textWrap="true">
						<FormattedString>
							<Span [text]="destination.to_location" fontSize="12" color="#CCCCCC"></Span>
						</FormattedString>
					</Label>
					<Label class="fas" style="font-size: 14;" text="&#xf004;" row="0" col="1" rowSpan="2"
						   [ngClass]="{'favorite-path': destination.is_favorite}"></Label>
				</GridLayout>
			</StackLayout>
		</ng-template>
	</ListView>
</StackLayout>
